<% wrap_layout :layout do %>
  <article class="post" role="article" vocab="http://schema.org/" typeof="BlogPosting">
    <header class="article__header">
      <h1 class="article__title" property="name"><%= current_article.title %></h1>

      <time class="article__date" property="datePublished" datetime="<%= current_article.date.strftime('%Y-%m-%d') %>" pubdate>
        <a property="url" class="u-url" href="<%= current_article.url %>">
          <%= current_article.date.strftime('%Y-%m-%d') %>
        </a>
      </time>

      by

      <a rel="author" class="article__author" href="http://www.helloper.com">
        Per
      </a>
    </header>

    <section class="article__body" property="articleBody">
      <%= yield %>
    </section>
  </article>
<% end %>
