<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= current_page.data.title || "Title" %></title>
  <%= javascript_include_tag "modernizr" %>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
  <%= partial "navigation" %>
  <%= partial "header" %>

  <%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>
