<!DOCTYPE html>
<html<%= html_class %> lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= page_title %></title>
    <meta name="description" content="<%= page_description %>">
    <meta name="author" content="Per Sandström">

    <link rel="alternate" type="application/rss+xml" title="Blog RSS" href="http://feeds.feedburner.com/HelloPer">
    <link rel="canonical" href="<%= canonical_url %>">
    <link rel="self" href="https://www.helloper.com" type="text/html">
    <link rel="me" href="mailto:per@helloper.com">
    <link rel="me" href="sms:+46702420750">
    <link rel="me" href="tel:+46702420750">

    <%= partial "partials/open_graph" %>
    <%= partial "partials/twitter_card" %>

    <%= stylesheet_link_tag "application" %>

    <script>
      ;(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);
    </script>
  </head>
