---
title: About Per Sandström
layout: page
body_class: blog
---

<section class="post">
  <h1 class="post__title">About me</h1>
  <%= partial "partials/about/intro" %>
</section>

<section class="post">
  <h2 class="post__title">Current work situation</h2>
  <%= partial "partials/about/work_current" %>
</section>

<section class="post">
  <h2 class="post__title">Previous jobs</h2>
  <%= partial "partials/about/work_previous" %>
</section>

<section class="post">
  <h2 class="post__title">Affiliations</h2>
  <%= partial "partials/about/affiliations" %>
</section>

<section class="post">
  <h2 class="post__title">Academic achievements</h2>
  <%= partial "partials/about/academic_achievements" %>
</section>

<section class="post">
  <h2 class="post__title">What people of high importance are saying about me</h2>
  <%= partial "partials/about/people_of_high_importance" %>
</section>

<section class="post">
  <h2 class="post__title">How I do my computing</h2>
  <%= partial "partials/about/computing" %>
</section>

<section class="post">
  <h2 class="post__title">My homepage</h2>
  <%= partial "partials/about/homepage" %>
</section>
