---
title: "Blog"
body_class: blog
---

<h1>
  Blog
</h1>

<% blog.articles.each do |article| %>
  <article vocab="http://schema.org/" typeof="BlogPosting" class="post<% unless article.data.type == 'post' %> post--update<% end %>">
    <time class="post__date" property="dateCreated" pubdate>
      <a href="<%= article.url %>"><%= article.date.strftime('%b %e %Y') %></a>
    </time>

    <h1 property="name" class="post__title">
      <a property="url" href="<%= article.url %>"><%= article.title %></a>
    </h1>

    <% if article.data.type == 'post' %>
      <div class="post__summary">
        <%= article.data.summary %>
      </div>

      <div class="post__read">
        <a href="<%= article.url %>" class="button button--secondary">Read more &rarr;</a>
      </div>
    <% else %>
      <div class="post__body">
        <%= article.body %>
      </div>
    <% end %>
  </article>
<% end %>

<a href="http://feeds.feedburner.com/HelloPer" class="blog-index__rss" title="Subscribe to the RSS feed">
RSS
</a>
