---
title: "Blog"
body_class: blog
---
<main role="main" id="panel">
  <%= partial "partials/blog/header" %>

  <% blog.articles.each do |article| %>
    <article class="post post--teaser<% unless article.data.type == 'post' %> post--update<% end %>">
      <a href="<%= article.url %>" class="post__date">
        <time>
          <%= article.date.strftime('%b %e %Y') %>
        </time>
      </a>

      <h1>
        <% if article.data.link_url %>
          <a class="post__external" href="<%= article.data.link_url %>">
            <%= article.title %>
          </a>
        <% else %>
          <a href="<%= article.url %>"><%= article.title %></a>
        <% end %>
      </h1>

      <% if article.data.type == 'post' %>
        <p><%= article.data.summary %></p>
      <% else %>
        <%= article.body %>
      <% end %>
    </article>
  <% end %>

  <%= partial "partials/blog/footer" %>
</main>
